<div class="Card" (click)="handleLink()">
    <div class="Card__header">
        <span>
            <img src="https://source.unsplash.com/DziZIYOGAHc" alt="un perrito" />
        </span>
    </div>
    <!-- <div class="Card__header--sep"><hr class="linea" /></div> -->
    <div class="Card__body">
        <div class="Card__body--wrapper">
            <h1 class="title">Nombre de producto</h1>
            <p class="subtitle1">Precio</p>
        </div>
        <div class="Card__body--wrapper">
            <!-- Botones -->
            <p class="subtitle2">Subtitle2</p>
            <p class="subtitle3">Subtitle3</p>
        </div>
    </div>
</div>